<a href="https://colab.research.google.com/github/michellssGUi/conciergeControl/blob/master/Analise_de_dados_slot_05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('sample_medicare.csv')

In [3]:
df.head()

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_city,nppes_provider_state,specialty_description,description_flag,drug_name,generic_name,bene_count,...,total_30_day_fill_count,total_day_supply,total_drug_cost,bene_count_ge65,bene_count_ge65_suppress_flag,total_claim_count_ge65,ge65_suppress_flag,total_30_day_fill_count_ge65,total_day_supply_ge65,total_drug_cost_ge65
0,1750477758,RICHARDSON,FAZAL,GORMAN,IN,Optometry,S,HYDROCHLOROTHIAZIDE,CLOPIDOGREL BISULFATE,NaN,...,30.0,16800,1075.11,NaN,*,NaN,#,15.0,1140.0,NaN
1,1265604870,JOHNSON,PETER,FOUNTAIN VALLEY,IL,Nurse Practitioner,S,OXYCODONE HCL,GLIMEPIRIDE,NaN,...,12.0,3510,532.98,NaN,NaN,27.0,*,0.0,364.0,937.41
2,1295731255,MCMANMON,JONATHAN,POMPANO BEACH,IA,Family Practice,S,MECLIZINE HCL,GABAPENTIN,27.0,...,14.3,1440,485.72,NaN,#,46.0,NaN,38.0,NaN,0.00
3,1356337398,EAKES,KIRK,AUSTIN,VA,Nephrology,S,WARFARIN SODIUM,ZIPRASIDONE HCL,21.0,...,23.0,600,256.14,NaN,#,11.0,NaN,NaN,NaN,0.00
4,1265409056,WYNN,SARA,SMYRNA,OR,Physician Assistant,S,PAROXETINE HCL,VALPROIC ACID,NaN,...,112.0,1680,4013.17,NaN,*,14.0,#,88.9,NaN,NaN

In [4]:
df.dtypes

npi                                int64
nppes_provider_last_org_name      object
nppes_provider_first_name         object
nppes_provider_city               object
nppes_provider_state              object
specialty_description             object
description_flag                  object
drug_name                         object
generic_name                      object
bene_count                       float64
total_claim_count                  int64
total_30_day_fill_count          float64
total_day_supply                   int64
total_drug_cost                  float64
bene_count_ge65                  float64
bene_count_ge65_suppress_flag     object
total_claim_count_ge65           float64
ge65_suppress_flag                object
total_30_day_fill_count_ge65     float64
total_day_supply_ge65            float64
total_drug_cost_ge65             float64
dtype: object

In [6]:
df.isnull().sum(axis=0)

npi                                  0
nppes_provider_last_org_name         3
nppes_provider_first_name            2
nppes_provider_city                  0
nppes_provider_state                 0
specialty_description                0
description_flag                     0
drug_name                            0
generic_name                         0
bene_count                       61372
total_claim_count                    0
total_30_day_fill_count              0
total_day_supply                     0
total_drug_cost                      0
bene_count_ge65                  86087
bene_count_ge65_suppress_flag    13841
total_claim_count_ge65           42521
ge65_suppress_flag               57945
total_30_day_fill_count_ge65     42103
total_day_supply_ge65            42236
total_drug_cost_ge65             42339
dtype: int64

In [7]:
pd.DataFrame(df.isnull().sum(axis=0)).sort_values(by=0, ascending=False)/df.shape[0]

                                     0
bene_count_ge65                0.86087
bene_count                     0.61372
ge65_suppress_flag             0.57945
total_claim_count_ge65         0.42521
total_drug_cost_ge65           0.42339
total_day_supply_ge65          0.42236
total_30_day_fill_count_ge65   0.42103
bene_count_ge65_suppress_flag  0.13841
nppes_provider_last_org_name   0.00003
nppes_provider_first_name      0.00002
total_day_supply               0.00000
total_drug_cost                0.00000
npi                            0.00000
total_30_day_fill_count        0.00000
generic_name                   0.00000
drug_name                      0.00000
description_flag               0.00000
specialty_description          0.00000
nppes_provider_state           0.00000
nppes_provider_city            0.00000
total_claim_count              0.00000

In [10]:
df['bene_count_ge65_suppress_flag'].unique()

array(['*', nan, '#'], dtype=object)